input {
  file {
    id => "tuxedomask.nginx.access.input.file"
    type => "tuxedomask.nginx.access"
    path => [ "/var/log/nginx/nginx.access.log*" ]
    codec => plain
  }
  http_poller {
    id => "tuxedomask.nginx.application.input.http_poller"
    type => "tuxedomask.nginx.application"
    urls => { status => "http://localhost:80/status" }
    schedule => { every => "5s" }
    codec => plain
  }
  stdin { codec => plain }
}

filter {
  uuid { target => "messages_uuid" }
  mutate { add_field => { "version" => "v0.0.0" } }
}

output {
  stdout { codec => json }
}
