input {
  http_poller {
    id => "tuxedomask.nginx.application.input.http_poller"
    type => "tuxedomask.nginx.application"
    urls => { status => "http://www.httpbin.org:80/get" }
    schedule => { every => "5s" }
    codec => plain
  }
  stdin { codec => plain }
}

filter {
  uuid { target => "messages_uuid" }
  mutate { add_field => { "version" => "v0.0.0" } }
}

output {
  stdout { codec => json }
}
