input {
  file {
    id => "tuxedomask.nginx.access.input.file"
    type => "tuxedomask.nginx.access"
    path => [ "/var/log/nginx/access.log.*" ]
    codec => plain
  }
  file {
    id => "tuxedomask.uwsgi.access.input.file"
    type => "tuxedomask.uwsgi.access"
    path => [ "/var/log/uwsgi/uwsgi.log.*" ]
    codec => plain
  }
  file {
    id => "tuxedomask.tuxedomask.application.input.file"
    type => "tuxedomask.tuxedomask.application"
    path => [ "/var/log/tuxedomask/tuxedomask.application.log.*" ]
    codec => json
  }
}

filter {
  uuid { target => "messages_uuid" }
  mutate { add_field => { "version" => "v0.0.0" } }
}

output {
  kafka {
    id => "tuxedomask.*.access.output.kafka"
    bootstrap_servers => ":9092"
    topic_id => "%{type}"
    codec => json
  }
}
