input {
  file {
    id => "tuxedomask.nginx.access.input.file"
    type => "tuxedomask.nginx.access"
    path => [ "/var/log/nginx/access.log" ]
    codec => plain
  }
  file {
    id => "tuxedomask.uwsgi.access.input.file"
    type => "tuxedomask.uwsgi.access"
    path => [ "/var/log/uwsgi/uwsgi.log" ]
    codec => plain
  }
}

output {
  kafka {
    id => "tuxedomask.*.access.output.kafka"
    bootstrap_servers => ":9092"
    topic_id => "%{type}"
    codec => json
  }
}
