{
  "Production": {
    "components": {
      "logging": {
        "version": 1,
        "loggers": {
          "tuxedo_mask": {}
        }
      }
    },
    "repositories": {
      "PostgreSQL": {
        "connection_string": ""
      }
    }
  },
  "Staging": {
    "components": {
      "logging": {
        "version": 1,
        "loggers": {
          "tuxedo_mask": {}
        }
      }
    },
    "repositories": {
      "PostgreSQL": {
        "connection_string": ""
      }
    }
  },
  "Testing": {
    "components": {
      "logging": {
        "version": 1,
        "loggers": {
          "tuxedo_mask": {}
        }
      }
    },
    "repositories": {
      "PostgreSQL": {
        "connection_string": ""
      }
    }
  },
  "Development": {
    "components": {
      "logging": {
        "version": 1,
        "loggers": {
          "tuxedo_mask": {}
        }
      }
    },
    "repositories": {
      "PostgreSQL": {
        "connection_string": ""
      }
    }
  }
}