{
  "Development": {
    "clients": {
      "tuxedo_mask": {
        "logger_name": "",
        "bcrypt_cost_factor": 0
      }
    },
    "logging": {
      "version": 1,
      "loggers": {},
      "formatters": {},
      "handlers": {},
      "filters": {}
    },
    "postgresql": {
      "connection_string": ""
    }
  }
}