[uwsgi]
shared-socket = 0.0.0.0:9090
http = =0

module = tuxedomask.api
callable = app

uid = ubuntu
gid = ubuntu

logger = file:uwsgi.log
req-logger = file:uwsgi_access.log
log-format = { "timestamp": "%(epoch)", "request_method": "%(method)", "request_url": "%(uri)" "client_ip_address": "%(addr)"}




# %(host) -> HTTP_HOST; %(proto) -> SERVER_PROTOCOL; %(uagent) -> HTTP_USER_AGENT (starting from 1.4.5); %(referer) -> HTTP_REFERER (starting from 1.4.5)


die-on-term = true
enable-threads = true
need-app = true
show-config = true
vacuum = true


# 127.0.0.1:9090 -> HTTP_HOST; HTTP/1.1 -> SERVER_PROTOCOL; curl/7.47.0 -> HTTP_USER_AGENT (starting from 1.4.5); - -> HTTP_REFERER (starting from 1.4.5)
# /v1/applications/ -> REQUEST_URI; POST -> REQUEST_METHOD; - -> REMOTE_USER; 127.0.0.1 -> REMOTE_ADDR; 127.0.0.1:9090 -> HTTP_HOST; HTTP/1.1 -> SERVER_PROTOCOL; curl/7.47.0 -> HTTP_USER_AGENT (starting from 1.4.5); - -> HTTP_REFERER (starting from 1.4.5)

# T13:21:26-05:00", "request_method": "GET", "request_url": "/status", "request_endpoint": "/status", "request_scheme": "http", "request_body": "-", "response_status_code": "200", "response_time": "0.000", "response_size": "266", "response_body_size": "102", "client_ip_address": "127.0.0.1", "client_port": "55941", "server_ip_address": "127.0.0.1", "server_port": "80", "application_protocol": "HTTP/1.1", "hostname": "devme01", "nginx_version": "1.10.3", "upstream_response_time": "-" }
# { "timestamp": "2017-03-02T13:21:27-05:00", "request_method": "GET", "request_url": "/status", "request_endpoint": "/status", "request_scheme": "http", "request_body": "-", "response_status_code": "200", "response_time": "0.000", "response_size": "266", "response_body_size": "102", "client_ip_address": "127.0.0.1", "client_port": "55941", "server_ip_address": "127.0.0.1", "server_port": "80", "application_protocol": "HTTP/1.1", "hostname": "devme01", "nginx_version": "1.10.3", "upstream_response_time": "-" }
# { "timestamp": "2017-03-02T14:52:21-05:00", "request_method": "GET", "request_url": "/status", "request_endpoint": "/status", "request_scheme": "http", "request_body": "-", "response_status_code": "200", "response_time": "0.000", "response_size": "266", "response_body_size": "102", "client_ip_address": "127.0.0.1", "client_port": "56028", "server_ip_address": "127.0.0.1", "server_port": "80", "application_protocol": "HTTP/1.1", "hostname": "devme01", "nginx_version": "1.10.3", "upstream_response_time": "-" }

        # '"request_endpoint": "$uri", '
        # '"request_scheme": "$scheme", '

        # '"request_body": "$request_body", '

        # '"response_status_code": "$status", '
        # '"response_time": "$request_time", '
        # '"response_size": "$bytes_sent", '
        # '"response_body_size": "$body_bytes_sent", '

        # '"client_ip_address": "$remote_addr", '
        # '"client_port": "$remote_port", '

        # '"server_ip_address": "$server_addr", '
        # '"server_port": "$server_port", '

        # '"application_protocol": "$server_protocol", '
        # '"hostname": "$hostname", '
        # '"nginx_version": "$nginx_version", '
        # '"upstream_response_time": "$upstream_response_time" '
